@keyframes encolhe_hr {
    from {
        width: 90%;
        opacity: 0;
    }

    to {
        width: 30%;
        opacity: 1;
    }
}

@keyframes puxa_float_menu {
    from {
        top: 2%;
    }

    to {
        top: 6%;
    }
}