@keyframes encolhe_hr {
    from {
        width: 90%;
        opacity: 0;
    }

    to {
        width: 30%;
        opacity: 1;
    }
}

@keyframes puxa_float_menu {
    from {
        left: 0%;
    }

    to {
        left: 200px;
    }
}

@keyframes borda_dourada {
    0% {
        box-shadow: 0px 0px 25px yellow;
    }

    50% {
        box-shadow: 0px 0px 15px yellow;
    }

    100% {
        box-shadow: 0px 0px 25px yellow;
    }
}