html {
    overflow-x: hidden;
    background-color: rgb(30, 105, 107);
    transition: all .2s;
}

#banner_topo {
    width: 100%;
    padding: 1%;
    height: 70px;
    color: white;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

#titulo {
    left: 2%;
    top: -10px;
    font-size: 40px;
    position: absolute;
    pointer-events: none;
    animation: mostra_bloco .5s;
    text-shadow: 1px 2px 1px black;
}

hr#hr_login {
    width: 30%;
    animation: encolhe_hr 1s;
}

#perfil_sm {
    z-index: 3;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -10px;
    border-radius: 50%;
    border: solid 3px white;
    transition: transform .2s, box-shadow .2s;
}

.configura_perfil {
    margin: 2%;
    color: black;
    transition: all .2s;
    background-color: rgb(231, 231, 231);
}

.configura_perfil:hover {
    color: black !important;
    background-color: rgb(167, 167, 167);
}

#perfil_sm:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px white;
}

#formulario_login {
    z-index: 3;
    width: 100%;
    height: 100%;
    /* display: none; */
    position: fixed;
    padding-top: 6%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

#formularios_cad {
    display: none;
}

.logah {
    margin-top: 4%;
}

.buttons_login {
    width: 20%;
    margin-left: 40%;
}

#nav_links>h2,
#nav_links>h1 {
    float: left;
    margin-top: 0px;
    margin-left: 20px;
}

h2>a,
h1>a {
    color: white;
    transition: .2s;
}

h2>a:hover,
h1>a:hover {
    color: gray;
    text-decoration: none;
}

#quadro_pag {
    width: 50%;
    margin: 2%;
    padding: 2%;
    float: left;
    height: 250px;
    font-size: 18px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.sombra_quadro {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#buttons_navegacao {
    width: 90%;
    float: left;
    height: 70px;
    display: grid;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#quadro_fundo {
    margin: 2%;
    width: 100%;
    padding: 2%;
    float: left;
    margin-left: 0px;
    min-height: 500px;
    transition: all .2s;
    background-color: white;
}

.categoria_item>h2 {
    margin-bottom: 2%;
}

.categoria_item>.item_card,
.cabecalho_infos {
    height: auto;
    display: grid;
    overflow: hidden;
    text-align: center;
    border: 1px solid gainsboro;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.cabecalho_infos {
    border-radius: 5px;
    border: 2px solid gainsboro;
}

.item_card>p {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.titulo_item {
    font-size: 20px;
}

.badge_tempo,
.button_add_pedido {
    max-width: 80%;
    font-size: 18px;
    margin-left: 10%;
    max-height: 25px;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    background-color: grey;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
}

.button_add_pedido {
    display: flex;
    color: black;
    font-size: 20px;
    max-height: 35px;
    border-radius: 5px;
    align-items: center;
    transition: all .2s;
    text-decoration: none;
    justify-content: center;
}

a.button_add_pedido:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(126, 168, 62);
}

a.button_add_pedido:visited,
a.button_add_pedido:active {
    color: black;
    text-decoration: none;
}

.verde {
    background-color: rgb(187, 221, 137);
}

.laranja {
    background-color: rgb(252, 192, 83);
}

.vermelho {
    color: white;
    background-color: rgb(202, 97, 97);
}

.preto {
    color: white !important;
}

.preto:hover {
    background-color: grey !important;
}

.cinza {
    background-color: rgb(231, 231, 231);
}

.cinza:hover {
    background-color: rgb(202, 202, 202) !important;
}

.button_filtro {
    margin: 2%;
    border: 1px solid;
    transition: all .2s;
    font-size: 22px !important;
}

.button_filtro:focus {
    background-color: gainsboro;
}

.sticky {
    top: 0;
    width: 100%;
    position: fixed;
}

.sticky+.content {
    padding-top: 102px;
}

#float_menu {
    top: 6%;
    right: 1%;
    z-index: -1;
    padding: 2%;
    display: none;
    font-size: 20px;
    position: fixed;
    text-align: center;
    background-color: black;
    animation: puxa_float_menu .4s;
}

#float_menu>a {
    text-decoration: none;
    color: white !important;
}