html {
    /* height: 100%; */
    overflow-x: hidden;
    transition: all .2s;
    background-color: rgb(24, 83, 85);
}

body {
    margin-bottom: 50px;
    min-height: 100%;
    position: relative;
}

#banner_topo,
footer {
    top: 0px;
    z-index: 20;
    width: 100%;
    padding: 1%;
    height: 70px;
    color: white;
    position: fixed;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

footer {
    background: rgba(30, 32, 36, .9);
    /* cor escura com transparência */
    backdrop-filter: blur(10px);
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px);
    /* suporte para Safari */
}

#barra_funcoes {
    z-index: 20;
    width: 200px;
    padding: 5px;
    height: 100%;
    float: left;
    color: white;
    position: fixed;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

#titulo {
    left: 2%;
    top: -10px;
    font-size: 40px;
    position: absolute;
    pointer-events: none;
    animation: mostra_bloco .5s;
    text-shadow: 1px 2px 1px black;
}

hr#hr_login {
    width: 30%;
    animation: encolhe_hr 1s;
}

#perfil_sm {
    z-index: 3;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 0px;
    border-radius: 50%;
    border: solid 3px white;
    transition: transform .2s, box-shadow .2s;
    cursor: pointer;
}

.configura_perfil {
    margin: 2%;
    color: black;
    transition: all .2s;
    background-color: rgb(231, 231, 231);
}

.configura_perfil:hover {
    color: black !important;
    background-color: rgb(167, 167, 167);
}

#perfil_sm:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px white;
}

#formulario_login,
#formulario_login_empenho {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 6%;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

#formulario_login_empenho {
    display: none;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .8);
}

#formularios_cad {
    display: none;
}

.logah {
    margin-top: 4%;
}

.buttons_login {
    width: 20%;
    margin-left: 40%;
}

#nav_links>h2,
#nav_links>h1 {
    float: left;
    margin-top: 0px;
    margin-left: 20px;
}

#barra_funcoes>#nav_links>.opcoes_barra_funcoes>h2,
#barra_funcoes>#nav_links>h2 {
    font-size: 20px;
}

.opcoes_barra_funcoes {
    float: right;
    margin-top: 20px;
}

h2>a,
h1>a {
    color: white;
    transition: .2s;
}

h2>a:hover,
h1>a:hover {
    color: gray;
    text-decoration: none;
}

.quadro_pag {
    margin: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    padding: 2%;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.sombra_quadro {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

#buttons_navegacao,
#buttons_navegacao_index,
#buttons_navegacao_pedidos,
#buttons_navegacao_aprovacao {
    width: 95%;
    float: left;
    height: 70px;
    display: grid;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 15px;
    background-size: 30px 30px;
    background-color: rgb(192, 192, 192);
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-image: radial-gradient(circle, rgba(83, 83, 83, .5) 1px, rgba(0, 0, 0, 0) 1px);
}

#conteudo_pag {
    z-index: -2;
    position: relative;
    margin-top: 0px;
    margin-left: 200px;
}

#buttons_navegacao_pedidos {
    grid-template-columns: 25% 25% 25% 25%;
}

#buttons_navegacao_index {
    width: 96%;
    height: auto;
    column-gap: 5%;
    grid-template-columns: 46.5% 46.5%;
    grid-template-areas: 'pilula_avisos_geral pilula_avisos_geral'
        'pilula_l pilula_r'
        'pilula_l_2 pilula_r'
        'pilula_completa pilula_completa';
}

.pilula_l {
    grid-area: pilula_l;
}

.pilula_l_2 {
    grid-area: pilula_l_2;
}

.pilula_r {
    grid-area: pilula_r;
}

.pilula_completa,
.pilula_avisos_geral {
    margin-left: 1%;
    grid-area: pilula_completa;
}

.pilula_avisos_geral {
    padding: 1%;
    height: 60px;
    margin-bottom: 10px;
    border: 2px solid yellow;
    grid-area: pilula_avisos_geral;
    animation: borda_dourada 2s infinite;
}

#buttons_navegacao_aprovacao {
    grid-template-columns: 96.2%;
}

#caixa_entrada {
    right: 70px;
    top: 15px;
    font-size: 20px;
    position: absolute;
}

#quadro_fundo,
#quadro_fundo_total {
    width: 90%;
    padding: 2%;
    float: left;
    z-index: -2;
    padding-top: 0%;
    min-height: 500px;
    margin-left: 10% !important;
    transition: all .2s;
    background-color: white;
}

#quadro_fundo_total {
    position: fixed;
    height: 100%;
}

.categoria_item>h2 {
    margin-bottom: 2%;
}

.categoria_item>.item_card,
.cabecalho_infos {
    height: auto;
    display: grid;
    overflow: hidden;
    text-align: center;
    border: 1px solid gainsboro;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.grid_unidades {
    display: grid;
    column-gap: 10%;
    grid-template-columns: 45% 45%;
}


.cabecalho_infos {
    border-radius: 5px;
    border: 2px solid gainsboro;
}

.item_card>p {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.titulo_item {
    font-size: 20px;
}

.bttn_ver_empenho {
    transition: all .2s;
}

.bttn_ver_empenho:hover {
    border: 2px solid gray;
}

.bttn_atalhos_panel {
    margin-top: -20px;
    margin-bottom: 15px;
}

.bttn_ver_autorizacoes_index {
    margin-top: 15px;
}

.badge_tempo,
.button_add_pedido {
    max-width: 80%;
    font-size: 18px;
    margin-left: 10%;
    max-height: 25px;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    background-color: grey;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
}

.button_add_pedido {
    display: flex;
    color: black;
    font-size: 20px;
    max-height: 35px;
    border-radius: 5px;
    align-items: center;
    transition: all .2s;
    text-decoration: none;
    justify-content: center;
}

a.button_add_pedido:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(126, 168, 62);
}

a.button_add_pedido:visited,
a.button_add_pedido:active {
    color: black;
    text-decoration: none;
}

.button_filtro {
    margin: 2%;
    border: 1px solid;
    transition: all .2s;
    font-size: 22px !important;
}

.button_filtro:focus {
    background-color: rgb(78, 78, 78);
}

.button_filtro:hover {
    background-color: rgb(170, 170, 170);
}

.sticky {
    top: 0;
    width: 100%;
    position: fixed;
}

.sticky+.content {
    padding-top: 102px;
}

#float_menu {
    top: 0%;
    left: 200px;
    z-index: -1;
    padding: 2%;
    display: none;
    font-size: 20px;
    position: fixed;
    text-align: center;
    background: rgba(30, 32, 36, .8);
    /* cor escura com transparência */
    backdrop-filter: blur(10px);
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px);
    /* suporte para Safari */
    animation: puxa_float_menu .4s;
    border-bottom-right-radius: 15px;
}

#float_menu>a {
    font-size: 15px;
    text-decoration: none;
    color: white !important;
}

#float_menu>hr {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    color: gray !important;
}

.large_button {
    height: 100px;
}

.input {
    font-weight: 500;
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid ghostwhite;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    width: 100%;
}

.input:focus {
    border-bottom: 1px solid #227b7e;
    -webkit-transition: 0.1s;
    transition: 0.5s;
}

.detalhes_fornecedor {
    padding-top: 3%;
    color: white;
}

#cadastro_fornecedor>input {
    color: black !important;
}

#cadastro_fornecedor {
    width: 100%;
    padding: 15px;
    margin-top: 35px;
    border-radius: 15px;
    border: 1px solid gainsboro;
}

button {
    color: black !important;
    font-size: 18px;
    border-radius: 5px;
    border: solid 2px gainsboro;
}

button {
    transition: all .2s;
}

.button_form_cadastro {
    width: 100%;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    border: solid 2px gainsboro;
    text-decoration: none !important;
    transition: all .2s;
}

.button_form_cadastro:hover,
.button_form_cadastro:active,
.button_form_cadastro:visited {
    color: black;
}

.bttn_editar:hover {
    background-color: rgb(145, 173, 199);
    border: 2px solid transparent;
}

.bttn_salvar:hover {
    background-color: rgb(154, 218, 168);
    border: 2px solid transparent;
}

.bttn_cancelar:hover {
    background-color: rgb(199, 145, 145);
    border: 2px solid transparent;
}

.form_primeira_interacao {
    display: grid;
    column-gap: 1%;
    grid-template-columns: 50% 50%;
}

.lista_fornecedores {
    margin-top: 35px;
    width: 100%;
}

.item_fornecedor,
.item_departamento,
.item_selecionar_lista_pedido,
.item_lista_conferir_empenho {
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid gainsboro;
}

.item_selecionar_lista_pedido,
.item_lista_conferir_empenho {
    display: grid;
    column-gap: 10px;
    text-align: center;
    grid-template-columns: 20% 20% 15% 10% 20% 5% !important;
}

.item_selecionar_lista_pedido>button {
    height: 30px;
}

.item_selecionar_lista_pedido>input {
    height: 30px;
}

.item_lista_conferir_empenho {
    grid-template-columns: 24% 24% 24% 24% !important;
}

.item_fornecedor>button {
    float: right;
    margin-top: -15px;
    margin-right: 15px;
}

.sem_resultados {
    text-align: center;
    display: none;
}

.cadastro_zerado {
    margin-top: 100px;
    text-align: center;
}

.label {
    color: white;
    height: 18px;
    border-radius: 5px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(66, 66, 66);
}

.espacador_label {
    margin-right: 5px;
}

.invisible {
    display: none;
}

.cadastrar_novo {
    float: right;
    height: 40px;
}

#input_filtro_fornecedor {
    width: 85%;
    color: black;
}

.cadastro_popup {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 20;
    color: white;
    height: 100%;
    display: none;
    padding: 5% 30%;
    position: fixed;
    background: rgba(46, 47, 48, 0.9);
    /* cor escura com transparência */
    backdrop-filter: blur(30px);
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(30px);
    /* suporte para Safari */
}

.cadastro_popup>#cadastro_fornecedor>input {
    color: black !important;
}

.lista_grid,
.lista_grid_selecionar_item {
    display: grid;
    column-gap: 1%;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

.lista_grid_selecionar_item {
    grid-template-columns: auto;

}

.btn_gerenciar_item_pedido {
    width: 100%;
    margin-top: 0px !important;
}

.item_departamento {
    padding: 2%;
    height: 80px;
    overflow: hidden;
    border-radius: 5px;
    white-space: nowrap;
    border: solid 1px gainsboro;
}

.barra_lateral_cor_destaque {
    width: 10px;
    float: left;
    height: 100%;
    margin-right: 2%;
    padding-left: -2%;
}

.btn_editar_dpt {
    margin-top: -20px !important;
    margin-right: 0px !important;
    float: right;
}

.item_min {
    border: 0px solid;
}

.select_destaque {
    width: 100%;
    padding: 2%;
    color: white;
    border-radius: 5px;
    background-color: rgb(56, 56, 56);
}

.select_destaque>input {
    color: black;
}

.largura_total {
    width: 100% !important;
}

.btn_voltar_pedidos {
    margin-top: 2%;
    margin-left: 5%;
    position: absolute;
}

.cadastro_select {
    width: 90% !important;
}

.button_cadastro_select {
    height: 40px;
    font-size: 18px !important;
    float: right;
    text-align: center;
    vertical-align: center;
    align-items: center;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid ghostwhite;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    width: 40px;
    text-decoration: none !important;
}

select {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
}

fieldset {
    padding: 2% !important;
    border-radius: 5px !important;
    border: 1px solid gainsboro !important;
}

.grid_empenhos {
    display: grid;
    column-gap: 1%;
    grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
}

.card_empenho {
    padding: 2%;
    width: 100%;
    min-height: 270px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid gainsboro;
}

.empenho_desconhecido {
    width: 100%;
    color: white;
    margin-top: 15%;
    text-align: center;
}

#lista_itens_pedido {
    overflow-y: auto;
    max-height: 500px;
}

#footer {
    z-index: 1;
    right: 0px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: .5%;
    height: 100px;
    position: fixed;
    padding-right: 1%;
}

.icon_cinza {
    color: gray;
}

.vermelho {
    color: white;
    background-color: rgb(133, 0, 0) !important;
}

.icon_amarelo {
    color: yellow;
}

.laranja {
    background-color: rgb(252, 192, 83);
}

.preto {
    color: white !important;
}

.preto:hover {
    background-color: grey !important;
}

.cinza {
    background-color: rgb(231, 231, 231);
}

.cinza:hover {
    background-color: rgb(202, 202, 202) !important;
}

.amarelo {
    background-color: yellow;
    color: black !important;
}

.cinza_escuro {
    background-color: rgb(58, 58, 58) !important;
}

.cinza_escuro_fundo {
    background: rgba(30, 32, 36, .8) !important;
    /* cor escura com transparência */
    backdrop-filter: blur(10px) !important;
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px) !important;
    /* suporte para Safari */
}

.verde {
    background-color: green;
}

.verde-claro {
    background-color: rgb(156, 221, 156);
}

.azul {
    background-color: rgb(53, 157, 218);
}

.item_fornecedor>textarea {
    resize: none;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    min-height: 0px;
    height: 0px;
    transition: min-height .25s ease-in;
    width: 88%;
}

.item_fornecedor:hover>textarea {
    min-height: 25px;
}